/* General form container styles */
.form {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 600px;
    /* margin: auto; */
    /* padding: 100px 80px 20px 80px; */
    background-color: #222831;
    font-family: Arial, sans-serif;
    z-index: 2000;
  }
  
  /* Individual form group container */
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 0px 80px 0px 80px;
  }
  .formGroup:first-child{
    padding: 60px 80px 0px 80px;
  }
  
  /* Label styles */
  .formGroup label {
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  
  /* Input, select, and textarea styles */
  .formGroup input[type="text"],
  .formGroup input[type="date"],
  .formGroup input[type="number"],
  .formGroup select,
  .formGroup textarea {
    padding: 8px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.2s;
  }
  
  .formGroup textarea {
    height: 80px;
    resize: vertical;
  }
  
  .formGroup input:focus,
  .formGroup select:focus,
  .formGroup textarea:focus {
    border-color: #007acc;
  }
  
  /* Submit button styles */
  .submitButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color:#8706ff93 ;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 0 80px 0px 80px;
  }
  
  .submitButton:hover {
    background-color: blueviolet;
  }
.icon{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20001;
    font-size: 25px;
    cursor: pointer;
}
 
.formGroup input[type="number"]::-webkit-outer-spin-button,
.formGroup input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
/* Remove up-down arrows for numerical inputs in Webkit browsers */
}
.background{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;

  background-color: #000000b8;
}
.details{
  text-align: center;
}

.editButton,
.deleteButton{
  width: 100px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 2px;
  color: white;
  font-size: 17px;
}
.editButton{
  background-color: #8706ff93 ;
  box-shadow: 0 0 8px #2b0054;
}
.editButton:hover{
  background-color: #51009c;
}
.deleteButton:hover{
  background-color: #8f0000;
}

.deleteButton{
  background-color: #cc0000b7;
  box-shadow: 0 0 8px rgb(108, 0, 0);
}
.divBtns{
  display: flex;
  justify-content: end;
  margin: 0 80px ;
}