/* Assuming styles.modalOverlay already covers the full screen */
.modalOverlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.modalContent {
background-color: rgb(255, 255, 255);
/* color: white; */
/* width: 80px; */
padding: 15px 30px;
/* height: 50px; */
text-align: center;
font-size: 15px;
border-radius: 3px;
z-index: 1000;
font-weight: 500;
}

.modalContent::before {
    content: '';
    position: absolute;
    bottom: -16px; /* Adjust according to your needs */
    /* left: 50%; */
    margin-left: -8px; 
    border-width: 8px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent  transparent; 
  }
  

.modalContent >p{
margin: 0;
}
