.nav{
    /* padding: 20px; */
    width: 20%;
    height: 100vh;
    background-color:#212121;
    color: white;
    display: flex;
    flex-direction: column;
    color: rgb(65, 65, 65);
    box-shadow: 0 0 1px white;
}

.nav>div{
    font-size: 10px;
    font-weight: 600;
    padding: 10px 0;
    color: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-right: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.nav>div:hover{
    background-color: #892be24e;
    color: white;
    cursor: pointer;
}
.icon{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 5px;
}
.icon1{
    font-size: 50px;
    margin-left: 20px;
    margin-right: 10px;
    /* box-shadow: 0 0 8px rgb(75, 0, 0); */
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50%;
    background-color:#8a2be2;
}

.nav>h1{
    display: flex;
    font-size: 25px;
    color: white;
    align-items: center;
}